:root {
  --main-font: "Mashetic", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --main-color: #ffffff;
  --accent-color: #f77307;
  --secondary-color: #e1400f;
  --title-color: #df3d0f;
  --input-color: rgba(16, 29, 79, 1);
  --background-color: #001531;
  --background-color-secondary: rgba(59, 52, 160, 0.27);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  transition: color 0.3s ease;
}
.link:hover {
  color: var(--secondary-color);
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.container {
  padding: 77px 15px 0px 15px;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 55px 78px 0px 91px;
  }
}
@font-face {
  font-family: "Mashetic";
  src: url("/fonts/Mashetic.otf") format("otf");
}
.button {
  font-family: var(--main-font);
  background: linear-gradient(90deg, #3b34a1, #e1400f);
  border: none;
  color: var(--main-color);
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
  transition: background 0.3s, color 0.3s;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #3b34a1, #e1400f) 1;
  transition: border-color 0.3s;
}
.button:hover {
  background: transparent;
  color: var(--main-color);
}
.button:hover::before {
  border-color: currentColor;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--secondary-font);
}
@media screen and (min-width: 1200px) {
  .text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}

.title {
  font-weight: 400;
  font-size: 28px;
  line-height: 44.5px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 400;
    font-size: 38px;
    line-height: 60px;
  }
}

.logo {
  color: var(--title-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
.logo:hover {
  color: var(--accent-color);
}

.header {
  background-color: var(--background-color);
  margin-bottom: 63px;
  display: flex;
  align-items: center;
  gap: 49px;
}
.header__logo {
  font-weight: 400;
  font-size: 18px;
  line-height: 28.6px;
  width: auto;
  text-align: center;
  margin-bottom: 27px;
}
.header__icon {
  width: 53px;
  height: 35px;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
}
.header__icon-button .icon-close {
  display: none;
}
.header__icon-button.is-open .icon-close {
  display: block;
}
.header__icon-button.is-open .icon-burger {
  display: none;
}
.header__button {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  padding: 8px;
}
.header__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 40px;
  top: 130px;
  background-color: var(--background-color);
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  transition: 0.3s;
}
.navigation__list.is-open {
  left: 0;
}
.navigation__link {
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 22.3px;
}

@media screen and (min-width: 768px) {
  .header__icon-button {
    display: none;
  }
  .header__button {
    padding: 8px 15px;
  }
  .header__button-wrapper {
    width: auto;
    justify-content: flex-end;
    margin-left: 34px;
  }
  .header__logo {
    font-weight: 400;
    font-size: 26px;
    line-height: 41.3px;
  }
  .header .navigation .header__logo {
    text-align: start;
    margin-bottom: 0;
  }
  .header .navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .header .navigation__list {
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    width: auto;
    padding-block: 0;
    gap: 34px;
    flex: 1;
  }
  .header .navigation__logo {
    text-align: start;
    margin-bottom: 0;
  }
  .header .navigation__link {
    white-space: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .home__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    column-gap: 30px;
    margin-bottom: 78px;
  }
}
@media screen and (min-width: 1200px) {
  .home__container {
    margin-bottom: 0;
  }
}
.home__title {
  text-align: center;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .home__title {
    grid-column: 1/2;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .home__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 76.3px;
  }
}
.home__text {
  text-align: center;
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .home__text {
    grid-column: 1/2;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .home__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}
.home__image {
  width: 100%;
  max-width: 550px;
  height: auto;
  background-image: radial-gradient(circle at center, rgba(59, 52, 160, 0.7) 0%, #001531 60%);
  margin: 0 auto;
  margin-bottom: 63px;
}
@media screen and (min-width: 768px) {
  .home__image {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
    grid-column: 2/3;
    grid-row: 1/4;
    align-self: center;
    justify-self: center;
  }
}
.home__button_wrapper {
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-bottom: 78px;
}
@media screen and (min-width: 768px) {
  .home__button_wrapper {
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 0;
  }
}
.home__button.button {
  white-space: nowrap;
  width: 100%;
  max-width: 292px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  padding-block: 18px;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 104px;
  column-gap: 44px;
  margin-bottom: 102px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    flex-direction: row;
    align-items: baseline;
  }
}
.advantages__container {
  width: auto;
  max-width: 334px;
  height: 228px;
  border-radius: 15px;
  background-color: var(--background-color-secondary);
  padding-inline: 24px;
}
.advantages__container:first-of-type {
  margin-top: 10%;
}
.advantages__wrapper {
  position: relative;
  top: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.advantages__ellipse {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
.advantages__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
}

.features__list {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  flex-direction: column;
  gap: 58px;
  background-color: var(--background-color-secondary);
  padding-block: 99px;
  margin-bottom: 131px;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-direction: row;
    justify-content: space-evenly;
    padding-block: 58px;
    margin-bottom: 131px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    margin-bottom: 215px;
    justify-content: center;
  }
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-direction: row;
  }
}
.features__icon {
  width: 50px;
  height: 46px;
}
.features__icon-wrapper {
  display: inline-block;
  padding: 21px 19px;
  border-radius: 50%;
}
.features__icon-wrapper--blue {
  background-color: #4171c4;
}
.features__icon-wrapper--green {
  background-color: #6ccc3e;
}
.features__icon-wrapper--red {
  background-color: #e5333d;
}
.features__icon-wrapper--purple {
  background-color: #8555c1;
}
.features__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .features__box {
    align-items: flex-start;
  }
}
.features__point {
  font-weight: 600;
  font-size: 38px;
  line-height: 38px;
  color: var(--title-color);
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 259px;
}
@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
    margin-bottom: 215px;
  }
}
.about__title {
  text-align: center;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .about__title {
    grid-column: 2/3;
    text-align: left;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 60.4px;
  }
}
.about__text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__text {
    grid-column: 2/3;
    text-align: left;
  }
}
.about__text:first-of-type {
  margin-bottom: 49px;
}
@media screen and (min-width: 1200px) {
  .about__text:first-of-type {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}
.about__text:last-of-type {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
@media screen and (min-width: 768px) {
  .about__text:last-of-type {
    margin-bottom: 23px;
  }
}
.about__rectangle {
  width: 100%;
  max-width: 515px;
  aspect-ratio: 1/1;
  height: auto;
  background-color: var(--accent-color);
  border-radius: 35px;
  margin-bottom: 49px;
}
@media screen and (min-width: 768px) {
  .about__rectangle {
    margin-bottom: 0;
    grid-column: 1/2;
    grid-row: 1/5;
    justify-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__rectangle {
    box-shadow: 50px -20px 100px -5px rgba(0, 91, 202, 0.6);
  }
}
.about__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 28.6px;
  padding: 11px 39px;
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .about__button {
    grid-column: 2/3;
  }
}

.services {
  margin-bottom: 241px;
}
.services__title {
  text-align: center;
  margin-bottom: 15px;
}
.services__text {
  text-align: center;
  margin-bottom: 31px;
}
.services__text-mb {
  margin-bottom: 39px;
}
.services__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.services__item {
  width: auto;
  max-width: 400px;
  border-radius: 25px;
  background-color: #101d4f;
  padding-inline: 48px;
  margin-top: 20%;
  transform: rotate(5.45deg);
}
.services__item-container {
  transform: translateY(-20%) rotate(-5.45deg);
}
.services__item-ellipse {
  width: auto;
  max-width: 218px;
  max-height: 218px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-bottom: 11px;
}
.services__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.services__item-link:hover .services__item-point,
.services__item-link:hover .services__item-icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.services__item-point {
  font-weight: 400;
  font-size: 18px;
  line-height: 28.6px;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}
.services__item-icon {
  width: 18px;
  height: 14px;
  fill: var(--secondary-color);
  transition: fill 0.3s ease;
}

@media screen and (min-width: 1200px) {
  .services__list {
    flex-direction: row;
    align-items: normal;
    background-image: radial-gradient(ellipse at center, rgba(46, 33, 219, 0.7) 5%, #001531 50%);
  }
  .services__item {
    flex: 1;
    margin-top: 10%;
  }
}
.resource {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: var(--background-color-secondary);
  padding: 118px 21px;
  margin-bottom: 139px;
}
.resource__content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 59px;
}
.resource__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.resource__title, .resource__text {
  text-align: center;
}
.resource__ellipse {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 61px 16px rgba(0, 91, 202, 0.6);
}
.resource__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .resource__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.resource__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.resource__link {
  white-space: nowrap;
  font-weight: 400;
  font-size: 34px;
  line-height: 54px;
  transition: color 0.3s ease;
}
.resource__link:hover {
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .resource__content {
    align-items: center;
    flex-direction: row;
    padding-left: 91px;
    padding-right: 78px;
  }
  .resource__wrapper, .resource__list {
    flex: 1;
  }
  .resource__title, .resource__text {
    text-align: start;
  }
  .resource__list {
    align-items: flex-start;
  }
  .resource__link {
    text-align: center;
  }
}
.contact {
  margin-bottom: 284px;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-bottom: 215px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }
}
.contact__title {
  text-align: center;
  margin-bottom: 13px;
}
@media screen and (min-width: 768px) {
  .contact__title {
    grid-column: 1/2;
    text-align: left;
  }
}
.contact__text {
  text-align: center;
  margin-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .contact__text {
    grid-column: 1/2;
    text-align: left;
  }
}
.contact__ellipse {
  width: 100%;
  max-width: 358px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-bottom: 61px;
}
@media screen and (min-width: 768px) {
  .contact__ellipse {
    margin-bottom: 0;
    margin-left: auto;
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: center;
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__ellipse {
    box-shadow: 0px -43px 138px 20px rgba(0, 91, 202, 0.6);
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (min-width: 768px) {
  .contact__form {
    align-items: flex-start;
    grid-column: 1/2;
  }
}
.contact__form-field {
  width: 100%;
  max-width: 768px;
}
@media screen and (min-width: 768px) {
  .contact__form-field {
    max-width: 477px;
  }
}
.contact__form-input {
  width: 100%;
  border: none;
  background-color: var(--input-color);
  padding: 16px;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28.6px;
}
.contact__form-input::placeholder {
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28.6px;
}
.contact__form-message {
  height: 197px;
  resize: none;
}
.contact__button {
  padding-block: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.6px;
}
@media screen and (min-width: 768px) {
  .contact__button {
    max-width: 477px;
    width: 100%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: var(--background-color-secondary);
  padding: 119px 15px 65px;
}
.footer__logo {
  font-weight: 400;
  font-size: 38px;
  line-height: 60.4px;
  margin-bottom: 119px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 364px;
}
.footer-navigation, .footer-policy, .footer-address {
  margin-bottom: 198px;
}
.footer-navigation__list, .footer-policy__list, .footer-address__list, .footer-careers__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}
.footer-navigation__text, .footer-policy__text, .footer-address__text, .footer-careers__text {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 44.5px;
  margin-bottom: 60px;
}
.footer-navigation__link, .footer-policy__link, .footer-address__link, .footer-careers__link {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--secondary-font);
}
.footer-address, .footer-careers {
  padding-inline: 50px;
}
.footer-address__list {
  align-items: flex-start;
}
.footer-address__text {
  align-self: center;
}
.footer-address__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer-address-icon {
  width: 24px;
  height: 24px;
}
.footer-careers__list {
  gap: 28px;
}
.footer-careers__note {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--secondary-font);
}
.footer__rights {
  font-weight: 400;
  font-size: 18px;
  line-height: 28.6px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 86px 91px 72px;
  }
  .footer__container {
    flex-direction: row;
    margin-bottom: 208px;
    align-items: flex-start;
    gap: 40px;
  }
  .footer__container > * {
    flex: 1;
  }
  .footer__container > .footer-address, .footer__container > .footer-careers {
    flex: 2;
  }
  .footer-address, .footer-careers {
    padding-inline: 0px;
  }
  .footer-navigation, .footer-policy, .footer-address {
    margin-bottom: 0px;
  }
  .footer-navigation__list, .footer-policy__list, .footer-address__list, .footer-careers__list {
    align-items: flex-start;
  }
  .footer-careers__note {
    text-align: start;
  }
  .footer-address__text {
    align-self: flex-start;
  }
}

/*# sourceMappingURL=styles.css.map */
