:root {
  --main-font: 'Mashetic', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --main-color: #ffffff;
  --accent-color: #f77307;
  --secondary-color: #e1400f;
  --title-color: #df3d0f;
  --input-color: rgba(16, 29, 79, 1);
  --background-color: #001531;
  --background-color-secondary: rgba(59, 52, 160, 0.27);
}
