* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: var(--secondary-color);
  }
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}
